{% extends 'bootstrap/base.html' %}
<html>
  <head>
{%block title%}
    {% if title%}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
{%endblock%}
  </head>
  <body>
    <div>
{%block navbar%}
        Microblog: 
        <a href="/index">home</a>
	{%if current_user.is_anonymous%}
        <a href="/login">Login</a>
	{%else%}
	<a href="{{url_for('user',username=current_user.username)}}"> Profile</a>
	<a href="/logout"> Logout</a>
	{%endif%}
	<a href="{{url_for('explore')}}">Explore</a>
{%endblock%}
    </div>
    <hr>
{%block content%}
    {% with messages = get_flashed_messages()%}
    {%if messages%}
    <ul>
    {% for message in messages%}
        <li>{{message}}</li>
    {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}
    {% block app_content%} {% endblock %}
{% endblock %}
  </body>
</html>

